body {
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro";
    box-sizing: border-box;
    color: #464646;
}

main {
    width: auto;
    height: 100vh;
    position: relative;
}

#seemore {
    height: 60px;
    width: 300px;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    text-align: center;
    font-weight: bold;
}

#seemore p {
    margin: 5px;
}

.column {
    min-height: 100vh;
    width: 50%;
    float: left;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right {
    background-color: lightgrey;
    flex-direction: column;
}

#left {
    background-color: white;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-bottom: 30px;
}

.caption {
    padding: 2px 16px;
}

h1 {
    font-size: 38px;
    text-align: center;
    padding: 0 0 30px 0;
    margin-top: -20px;
}

.info {
    width: 50%;
}

li {
    padding: 10px;
    line-height: 1.6;
    font-size: 14px;
}

input {
    border: none;
    outline: none;
    padding: 1px;
    font-family: inherit;
}

button {
    border-radius: 50px;
    border: none;
    padding: 8px 20px;
    font-family: inherit;
}

button:hover {
    background-color: lightblue;
}





